
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #FFF;
  top: 0;
}
strong {
  color: #777;
}
a {
  color: #777;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #999;
  text-decoration: none;
}


h1 {
    color: #888;
}
ul {
  list-style-type: none;
}



.topbar {
  position:fixed;
  background-color: #444;
  width: 100%;
  height: 8vh;
  top:0;
  text-align: center;
  font-size: 2vh;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #777
  ;
  border-width: 2px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}
.topicon {
  padding-top: 2vh;
  color: #DDD;
}


.routerDiv {
	top: 0;
	width: 100%;
}

.me-pic {
	height: 20vw;
	width:20vw;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 4vh;
  height: 4vh;
  left: 3vh;
  top: 2vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #DDD;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #444;
  padding: 2.5em 1.5em 0;
  font-size: 3vh;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0;
}

/* Styling of overlay */
.bm-overlay {
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
}

.bm-item-list a {
  padding: 0.8em;
}

.bm-item-list a span {
  margin-left: 10px;
  font-weight: 700;
}

.bm-menu a {
  color: #AAA;
}
.bm-menu a:hover {
  color: #FFF;
}



#reveal .bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu-wrap{
	top: 0;
}

.Typist .Cursor {
  display: inline-block;

  &--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
    @keyframes blink {
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
    }
  }
}

.typing-font {
  font-family: 'Source Code Pro', monospace;

}
